body {
    position: relative;
}

#mainPage {
    position: absolute;
    display: grid;
    justify-content: center;
    height: 80vh;
    top: 10vh;
    width: 100%;
    margin-bottom: -7vh;
}

#top-left {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}