* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(57, 56, 56);
    color: aliceblue;
    height: 10vh;
    z-index: 3;
}

#headerTitle {
    position: absolute;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(237, 15, 214);
    left: 10%;
    top: 30%;
}

.logInOut {
    position: absolute;
    font-size: large;
    right: 3%;
    top: 30%;
    animation: moveFromTop 1s;
}

.logInOut:hover {
    color: aqua;
    cursor: pointer;
}

#title {
    animation: moveToRight 2s ease-in-out;
}

.links {
    position: relative;
    display: flex;
    margin-top: 30px;
    font-size: 24px;
    justify-content: center;
    list-style-type: none;
    flex-direction: row;
}

.links>li>a {
    margin-left: 10px;
    text-decoration: none;
}

/* Basic styling for the dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
    width: 100px;
    min-height: 10vh;
    border-radius: 5px;
}

.dropbtn {
    position: absolute;
    background-color: #413a3a;
    color: aliceblue;
    width: 100%;
    height: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #413a3a;
    margin-top: 10vh;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Styling for dropdown items */
.dropdown-content a {
    color: rgb(234, 223, 223);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #b1dc5cc8;
}

@keyframes moveToRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(5px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveFromTop {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    80% {
        transform: translateY(5px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}