*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(57, 56, 56);
    color: aliceblue;
    height: 10vh;
    z-index: 3;
}
#headerTitle{
    position: absolute;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(237, 15, 214);
    left: 3%;  
    top: 30%;
}
.logInOut{
    position: absolute;
    font-size: large;
    right: 3%;
    top: 30%;
    animation: moveFromTop 1s;
}
.logInOut:hover{
    color: aqua;
    cursor: pointer;
}
#title{
    animation: moveToRight 2s ease-in-out;
}
@keyframes moveToRight{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{
        transform: translateX(5px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes moveFromTop{
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    80%{
        transform: translateY(5px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}