<header id="header">


    <a id="headerTitle" routerLink="">
        <h3 id="title">JoJo's Bikes</h3>
    </a>
    <!-- using angular material to pop up the component -->
    <a *ngIf="!isAuthenticated" class="logInOut" (click)="openDialog()">Sign In/Sign Up</a>
    <a *ngIf="isAuthenticated" class="logInOut" (click)="onLogOut()">Logout</a>
    <nav>
        <div class="dropdown">
            <button class="dropbtn">Menu</button>
            <div class="dropdown-content">
                <a routerLink="">Home</a>
                <a routerLink="/Contact">Contact</a>
                <a routerLink="/order/order-form">Order</a>
                <a routerLink="/create/new-product">New Product</a>
                <a>About</a>
            </div>
        </div>
    </nav>
</header>