<div id="left-side">
    <!-- REEEEEEEEEEEEEE MAKE IT WORK -->
    <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Dropdown link
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" routerLink="">Home</a>
            <a class="dropdown-item" routerLink="/Contact">Contact</a>
            <!-- only shows those links to authorised or special roles users -->
            <a class="dropdown-item" routerLink="/order/order-form">Order</a>
            <a class="dropdown-item" routerLink="/create/new-product">New Product</a>
            <a class="dropdown-item">About</a>
        </div>

    </div>

</div>