.contact-container {
    position: absolute;
    display: flex;;
    width: 100%;
    margin: 20px auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .contactUs__form{
    width: 30%;
    background: rgba(117, 117, 117, 0.314);
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 5px;
    height: fit-content;
  }
  .map-frame {
    border: 2px solid black;
    height: 100%;
    width: 70%;
    
  }
  input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
    border: 2px solid red;
  }

  #map {
    height: 100%;
  }
  @media screen and (max-width: 900px){
    .contact-container {
      flex-direction: column;
      height: max-content;
    }
    .contactUs__form{
      width: 100%;
    }
    .map-frame {
      border: 2px solid black;
      height: 50vh;
      width: 100%;
      z-index: 0;
      margin-bottom: 7vh;
    }
  }
 